<ion-content class="background">
  <div >
   <img class="img"  src="/assets/logo.png">


   <div class="gcars" style="text-align:center;">
       <h4>g-CARS</h4>
       <p>CAPEX Approval & Review System</p>
   </div>
   <!-- <img class="cars"  src="/assets/cars.png"> -->
  <ion-card>
   <!-- <ion-card-header class="title">
    
   </ion-card-header> -->
   
   <ion-card-content>
     <div  >
       <!-- <form > -->
         <ion-item class="backgroundinput">
           <ion-label position="floating">User ID</ion-label>
           <ion-input name="email"  [(ngModel)]="user"></ion-input>
         </ion-item>
         <ion-item class="backgroundinput">
          <ion-label position="floating">Temporary Password</ion-label>
          <ion-input  type="password"  [(ngModel)]="t_password"></ion-input>
        </ion-item>
        <ion-item class="backgroundinput">
          <ion-label position="floating">New Password</ion-label>
          <ion-input  type="password"  [(ngModel)]="n_password"></ion-input>
        </ion-item>

    
         
         <div class="btn-submit">
           <ion-button color="success" expand="block" (click)="log()">              
             <span>Submit</span>            
           </ion-button>
         </div>

       <!-- </form> -->
     </div>
   
   </ion-card-content>
 </ion-card>
 </div>
 <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
   <ion-fab-button>
     <ion-icon name="arrow-dropright"></ion-icon>
   </ion-fab-button>
 </ion-fab> -->

    
   
   
  
   

   

</ion-content>
<ion-footer>
   
  <div class="power">
    <p class="power_p"> Powered By Gainwell IT Team</p>
   
  </div>
  
 </ion-footer>


