ion-card{
   margin: 0px;
   

}

.effect{
   height: 100%;
   width: 100%;
   text-align: center;
   padding-left: 13px;
   padding-right: 13px;
   padding-top: 13px;

}
ion-card{
   // background-color: #485461;
   // background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
   background: #ECE5B6;
   // background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(252,236,252,1) 4%, rgba(251,166,225,1) 51%, rgba(255,124,216,1) 100%);
}
.effect::before{
   content: "";
 
   border-style: solid;
   border-width: 14px 14px 0 0;
   border-color: #FFD801 transparent transparent transparent;
   position: absolute;
   left: 0;
   top: 0;
}
ion-button{
   float: right;
}

.wrap {

}
.value {
   font-size: 24px;
   font-weight: 600;
   color: #333333;
   margin-bottom: 7px;
   padding-top: 32px;
}

.text {
   font-size: 14px;
}

img{
   height: 115px;
   height: 89px;
   object-fit: contain;
   padding: 12px;
}
ion-badge{
   width: 100%;
   width: 100%;
   //  height: 100%;

}
p{
   // font-family: sans-serif;
   // font-weight: -9px;
   // font-weight: 600;
   // color: #000000cf;
   // /* margin-bottom: 8px; */
   // border-bottom: 1px solid #8080804a;
   // padding-bottom: 6px;
   // text-align: left;
   font-size: 12px;
    margin: 0px;
    color: black;


 }
 h1{
   margin: 0px;
   font-size: 20px;
 }
 span{
   // background: red;
   /* width: 67px; */
   /* padding: 1px; */
   
   padding-left: 20px;
   padding-right: 20px;
   color:white;
 }
 td{
   padding: 2px;
    text-align: left;
    width: 56%;
    border-bottom: 1px solid #dfdfdf;
 }
 ion-card{
   margin: 0px;
   

}

.effect::before{
   content: "";
   border-style: solid;
   border-width: 14px 14px 0 0;
   border-color: #FFD801 transparent transparent transparent;
   position: absolute;
   left: 0;
   top:0;
}

.wrap {

}
.value {
   font-size: 24px;
   font-weight: 600;
   color: #333333;
   margin-bottom: 7px;
   padding-top: 32px;
}

.text {
   font-size: 14px;
}

img{
   height: 115px;
   height: 89px;
   object-fit: contain;
   padding: 12px;
}
ion-badge{
   width: 100%;
   width: 100%;
   //  height: 100%;

}
p{
   // font-family: sans-serif;
   // font-weight: -9px;
   // font-weight: 600;
   // color: #000000cf;
   
   // border-bottom: 1px solid #8080804a;
   // padding-bottom: 6px;
   text-align: left;
   font-size: 12px;
   margin: 0px;
   color: black;
 }
 h1{
   margin: 0px;
   font-size: 20px;
 }
 span{
   // background: red;
   /* width: 67px; */
   /* padding: 1px; */
   
   padding-left: 20px;
   padding-right: 20px;
   color:white;
 }
 td{
   padding: 2px;
    text-align: left;
    width: 56%;
    border-bottom: 1px solid #dfdfdf;
 }
 ion-badge{
    color:white;
 }