<ion-header>
  <ion-toolbar color="success">
    <ion-title>{{header}} {{name}}</ion-title>
    <ion-button slot="end" shape="round" fill="clear" (click)="close()" color="light">
      <!-- <ion-icon  name="cross-circle"></ion-icon> -->
      <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      <!-- <ion-badge color="danger">4</ion-badge> -->
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  >
    <canvas id="myChart" ></canvas>
  </ion-card>
</ion-content>

 

