<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>Menu</ion-title> -->
          <img class="img"  src="/assets/logo.png">
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-card>
              <ion-item   (click)="go(p)">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>

            </ion-card>
      
          </ion-menu-toggle>

          <!-- <ion-card *ngIf="show == '1'">
            <ion-item (click)="logout()">
             
               <ion-icon  name="ios-exit"></ion-icon> 
               <ion-label style="margin-left: 12%;">
               Show me
              </ion-label>
            </ion-item>
              
        
          </ion-card> -->
          <ion-card>
            <ion-item (click)="logout()">
             
               <ion-icon  name="ios-exit"></ion-icon> 
               <ion-label style="margin-left: 12%;">
               Logout
              </ion-label>
            </ion-item>
              
        
          </ion-card>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
