<ion-header>
  <ion-toolbar color="success">
    <ion-title>Reports List</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>

    <ion-card >
      <div class="effect">
        <div class="wrap">
        <ion-item class="fadeInRight"  >
       
          <p>Budget VS Actual</p>

         
         
          <ion-button class="ion-activatable" (click)="budgetactual()" color="success" slot="end" fill="solid">
            
            select
            <ion-ripple-effect></ion-ripple-effect>
            </ion-button> 
           
            
          </ion-item>
        </div>
      </div>
      </ion-card>

      <ion-card >
        <div class="effect">
          <div class="wrap">
          <ion-item class="fadeInRight"  >
         
            <p>Budget Report</p>
  
           
           
            <ion-button class="ion-activatable" (click)="budgetreport()" color="success" slot="end" fill="solid">
              
              select
              <ion-ripple-effect></ion-ripple-effect>
              </ion-button> 
             
              
            </ion-item>
          </div>
        </div>
        </ion-card>
</ion-content>
</ion-content>
