<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="fadeInUp">
  <div class="effect">
    <div class="wrap">
  <div>
    <img src="assets/setting.png"> 
  </div>

 
   <p>Name: {{employename}}</p>


  <p>Email: {{email}}</p>

<ion-item>
  <ion-label position="floating">Change Password <span style="color:red">*</span> </ion-label>
  <ion-input [(ngModel)]="password" ></ion-input>
</ion-item>
<ion-button color="success" (click)="submit()" expand="full">Submit</ion-button>
</div>
</div>
</ion-card>
</ion-content>
